<a href="https://colab.research.google.com/github/frm1789/100DaysOfPython/blob/main/Jokes_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_colwidth', 120)

jokes = pd.read_csv("http://facweb.cs.depaul.edu/mobasher/classes/csc478/data/jokes.csv", usecols=[1], header=None)
jokes.head(10)

                                                                                                                         1
0  A man visits the doctor. The doctor says "I have bad news for you.You have cancer and Alzheimer's disease". The man ...
1  This couple had an excellent relationship going until one day he came home from work to find his girlfriend packing....
2                                    Q. What's 200 feet long and has 4 teeth? A. The front row at a Willie Nelson Concert.
3             Q. What's the difference between a man and a toilet? A. A toilet doesn't follow you around after you use it.
4                                Q. What's O. J. Simpson's Internet address? A.\tSlash slash backslash slash slash escape.
5  Bill & Hillary are on a trip back to Arkansas. They're almost out of gas so Bill pulls into a service station on the...
6                                               How many feminists does it take to screw in a light bulb?That's not funny.
7                                       Q. Did you hear about the dyslexic devil worshipper? A. He sold his soul to Santa.
8  A country guy goes into a city bar that has a dress code and the maitred' demands he wear a tie. Discouraged the guy...
9                            Two cannibals are eating a clown one turns to other and says: "Does this taste funny to you?

In [3]:
def get_joke_text(jokes, id):
	return np.array(jokes)[id]

In [4]:
print(get_joke_text(jokes, 99))

["Q: What's the difference between greeting a Queen and greeting thePresident of the United  States?A: You only have to get on one knee to greet the queen."]

In [5]:
dataMat = pd.read_csv("http://facweb.cs.depaul.edu/mobasher/classes/csc478/data/modified_jester_data.csv", header=None)

dataMat.shape

(1000, 100)

In [6]:
pd.set_option('display.max_colwidth', 40)
dataMat.head(10)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,3.18,19.79,1.34,2.84,3.48,2.50,1.15,15.17,2.02,6.24,...,13.82,0.00,0.00,0.00,0.00,0.00,5.37,0.00,0.00,0.00
1,15.08,10.71,17.36,15.37,8.62,1.34,10.27,5.66,19.88,20.22,...,13.82,6.05,10.71,18.86,10.81,8.86,14.06,11.34,6.68,12.07
2,0.00,0.00,0.00,0.00,20.03,20.27,20.03,20.27,0.00,0.00,...,0.00,0.00,0.00,20.08,0.00,0.00,0.00,0.00,0.00,0.00
3,0.00,19.35,0.00,0.00,12.80,19.16,8.18,17.21,0.00,12.84,...,0.00,0.00,0.00,11.53,0.00,0.00,0.00,0.00,0.00,0.00
4,19.50,15.61,6.83,5.61,12.36,12.60,18.04,15.61,10.56,16.73,...,16.19,16.58,15.27,16.19,16.73,12.55,14.11,17.55,12.80,12.60
5,4.83,7.46,11.44,2.50,3.91,6.68,2.31,10.13,4.35,9.20,...,7.46,4.11,10.32,8.04,8.82,7.65,11.05,1.92,5.95,7.55
6,0.00,0.00,0.00,0.00,19.59,1.15,18.72,19.79,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,13.33,0.00,0.00,0.00,0.00
7,17.84,14.16,20.17,4.79,2.84,9.30,20.27,12.41,5.81,6.58,...,18.23,9.88,10.90,5.32,7.84,7.65,13.14,10.95,12.31,11.00
8,7.21,7.46,1.58,4.11,2.26,10.71,5.71,2.07,3.14,9.40,...,15.37,10.71,15.17,10.71,10.71,10.71,10.71,10.71,7.60,6.05
9,14.01,16.15,16.15,14.01,17.41,16.15,19.93,13.52,14.01,19.16,...,0.00,15.47,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00


The following function uses gradient descent optimization to factorize a rating matrix R into matrices P (the user feature matrix) and Q (the item feature matrix).

In [7]:
def matrix_factorization(R, P, Q, K, steps=5000, alpha=0.0002, beta=0.02):
    
    ### R = The user x item rating matrix (m x n)
    ### P = Initial user-factor matrix (m x k)
    ### Q = Initial item-factor matrix (n x k)
    ### K = The number of latent factors (features)
    ### steps = The number of epochs in gradient descent
    ### alpha = The learning rate for gradient descent
    ### beta = The regularization coefficient
    
    Q = Q.T
    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in range(K):
                        ### update P and Q based on the partial derivatives
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])
        eR = np.dot(P,Q)
        e = 0
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    e = e + pow(R[i][j] - np.dot(P[i,:],Q[:,j]), 2)
                    for k in range(K):
                        e = e + (beta/2) * ( pow(P[i][k],2) + pow(Q[k][j],2) )
        if e < 0.001:
            break
        print("Step %d of %d; Error: %0.5f; Time: %0.2f" %(step+1, steps, e, time()))
    return P, Q.T

In [8]:
M = dataMat.shape[0]
N = dataMat.shape[1]
Ratings = np.array(dataMat)
K = 5
steps = 3000

In [9]:
### Initialize P and Q to random values
P = np.random.rand(M,K)
Q = np.random.rand(N,K)

In [ ]:
from time import time
t0 = time()
fP, fQ = matrix_factorization(Ratings, P, Q, K, steps=steps)
print("done in %0.3fs." % (time() - t0))

Step 1 of 3000; Error: 2800656.94380; Time: 1685749848.62
Step 2 of 3000; Error: 1503146.12047; Time: 1685749852.20
Step 3 of 3000; Error: 1385817.46021; Time: 1685749854.82
Step 4 of 3000; Error: 1348183.32217; Time: 1685749857.34
Step 5 of 3000; Error: 1335096.85648; Time: 1685749860.14
Step 6 of 3000; Error: 1330035.29506; Time: 1685749863.77
Step 7 of 3000; Error: 1327763.21115; Time: 1685749866.34
Step 8 of 3000; Error: 1326489.33797; Time: 1685749868.71
Step 9 of 3000; Error: 1325566.87058; Time: 1685749871.23
Step 10 of 3000; Error: 1324751.32584; Time: 1685749874.07
Step 11 of 3000; Error: 1323943.85799; Time: 1685749877.74
Step 12 of 3000; Error: 1323099.10885; Time: 1685749880.39
Step 13 of 3000; Error: 1322191.27352; Time: 1685749882.93
Step 14 of 3000; Error: 1321201.30691; Time: 1685749886.06
Step 15 of 3000; Error: 1320111.96239; Time: 1685749889.73
Step 16 of 3000; Error: 1318905.79213; Time: 1685749892.41
Step 17 of 3000; Error: 1317564.30462; Time: 1685749895.28
Step 18 of 3000; Error: 1316067.60987; Time: 1685749898.15
Step 19 of 3000; Error: 1314394.31077; Time: 1685749901.39
Step 20 of 3000; Error: 1312521.56450; Time: 1685749904.75
Step 21 of 3000; Error: 1310425.30293; Time: 1685749907.38
Step 22 of 3000; Error: 1308080.62647; Time: 1685749910.12
Step 23 of 3000; Error: 1305462.39312; Time: 1685749912.57
Step 24 of 3000; Error: 1302546.01994; Time: 1685749916.43
Step 25 of 3000; Error: 1299308.49966; Time: 1685749919.21
Step 26 of 3000; Error: 1295729.61115; Time: 1685749921.79
Step 27 of 3000; Error: 1291793.26853; Time: 1685749924.56
Step 28 of 3000; Error: 1287488.91505; Time: 1685749927.95
Step 29 of 3000; Error: 1282812.82987; Time: 1685749931.20
Step 30 of 3000; Error: 1277769.18995; Time: 1685749933.82
Step 31 of 3000; Error: 1272370.72797; Time: 1685749936.50
Step 32 of 3000; Error: 1266638.85986; Time: 1685749939.34
Step 33 of 3000; Error: 1260603.22624; Time: 1685749943.18
Step 34 of 3000; Error: 1254300.68942; Time: 1685749945.59
Step 35 of 3000; Error: 1247773.92816; Time: 1685749948.12
Step 36 of 3000; Error: 1241069.84343; Time: 1685749950.74
Step 37 of 3000; Error: 1234238.00049; Time: 1685749954.08
Step 38 of 3000; Error: 1227329.27555; Time: 1685749956.92
Step 39 of 3000; Error: 1220394.76582; Time: 1685749959.68
Step 40 of 3000; Error: 1213484.90102; Time: 1685749962.31
Step 41 of 3000; Error: 1206648.61287; Time: 1685749965.19
Step 42 of 3000; Error: 1199932.41087; Time: 1685749968.71
Step 43 of 3000; Error: 1193379.28315; Time: 1685749971.43
Step 44 of 3000; Error: 1187027.45787; Time: 1685749974.22
Step 45 of 3000; Error: 1180909.17460; Time: 1685749976.70
Step 46 of 3000; Error: 1175049.67721; Time: 1685749980.10
Step 47 of 3000; Error: 1169466.62752; Time: 1685749982.92
Step 48 of 3000; Error: 1164170.05950; Time: 1685749985.70
Step 49 of 3000; Error: 1159162.88081; Time: 1685749988.48
Step 50 of 3000; Error: 1154441.82257; Time: 1685749991.83
Step 51 of 3000; Error: 1149998.66977; Time: 1685749995.02
Step 52 of 3000; Error: 1145821.58697; Time: 1685749997.79
Step 53 of 3000; Error: 1141896.37875; Time: 1685750000.67
Step 54 of 3000; Error: 1138207.57441; Time: 1685750003.37
Step 55 of 3000; Error: 1134739.28303; Time: 1685750006.96
Step 56 of 3000; Error: 1131475.81223; Time: 1685750009.85
Step 57 of 3000; Error: 1128402.07637; Time: 1685750012.74